---
// Astro Components
import Image from "astro/components/Image.astro";

// Components
import FlexWrapper from "../../components/ui/flexWrapper.astro";
import Button from "../../components/ui/button.astro";

// Assets
import placeholderImage from "../../assets/images/placeholder-image.webp";
---

<section class="dark-bg">
  <div class="wrapper">
    <FlexWrapper>
      <div class="infoBlock">
        <h2>Meet your AI Reflection Coach.</h2>
        <p>
          A smart companion that helps you analyze patterns and stay consistent.
          Get personalized insights and recommendations based on your unique
          productivity data.
        </p>

        <ul role="list">
          <li>
            <span class="check-icon">&check;</span>
            <div>
              <h4>Smart Task Prioritization</h4>
              <p>AI-Powered ranking based on impact and urgency</p>
            </div>
          </li>
          <li>
            <span class="check-icon">&check;</span>
            <div>
              <h4>Smart Task Prioritization</h4>
              <p>AI-Powered ranking based on impact and urgency</p>
            </div>
          </li>
          <li>
            <span class="check-icon">&check;</span>
            <div>
              <h4>Smart Task Prioritization</h4>
              <p>AI-Powered ranking based on impact and urgency</p>
            </div>
          </li>
        </ul>

        <Button btnStyle="primary">Chat with AI Coach</Button>
      </div>

      <Image
        src={placeholderImage}
        alt="placehoder image"
        width={500}
        height={500}
      />
    </FlexWrapper>
  </div>
</section>

<style>
  .dark-bg {
    background-image: var(--gradient-hero);
    color: var(--text-header);

    .infoBlock {
      align-self: center;
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
      
      h2 {
        color: var(--clr-accent-gold);
      }

      ul {
        display: grid;
        gap: var(--space-sm);
        padding-block: var(--space-sm);

        li {
          display: flex;
          gap: var(--space-sm);

          p {
            margin-block-start: var(--space-xs);
          }
        }
        .check-icon {
          align-items: center;
          background-color: var(--clr-accent-gold);
          border-radius: 500rem;
          display: inline-flex;
          font-size: 0.8rem;
          font-weight: var(--fw-bold);
          height: 1.2rem;
          justify-content: center;
          width: 1.2rem;
        }
      }
    }
  }
</style>
