---
//  Astro Components
import { Image } from "astro:assets";

// Assets
import heroImage from "../../assets/images/home-page/hero-img-mission-focus.webp";

// Components
import Button from "../../components/ui/button.astro";

// Icons
import { CupIcon } from "../../assets/svgIcons/icons";
---

<header class="hero">
  <div class="wrapper hero-wrapper">
    <div class="hero-content">
      <h1>Win your day width: Focus, Structure and Balance</h1>
      <p>
        Mission Focus helps entrepeneurs take controle over theire time and
        engery - one day at a time
      </p>
      <div class="flex-wrapper" id="btn-wrapper">
        <div>
          <Button btnStyle="primary">Start your mission</Button>
          <span>✅ No credit card required</span>
        </div>
        <div>
          <Button btnStyle="primary-open">See how it works</Button>
          <span>🕐 Setup in 2 minutes</span>
        </div>
      </div>
    </div>
    <picture class="hero-image">
      <Image src={heroImage} alt="Placeholder image" width={500} height={500} />
      <div class="iconCup"><CupIcon/></div>
    </picture>
  </div>
</header>

<style>
  .hero {
    background-image: var(--gradient-hero);
    color: var(--text-header);
    padding-block: var(--space-xl);
    overflow: hidden;

    .hero-wrapper {
      display: flex;
      gap: var(--space-lg);
      align-items: center;

      .hero-content {
        h1 {
          color: var(--clr-accent-gold);
          margin-block-end: var(--space-md);
        }

        p {
          margin-block-end: var(--space-lg);
        }

        #btn-wrapper {
          margin-block-end: var(--space-sm);

          span {
            display: block;
            margin-block-start: var(--space-sm);
          }
        }
      }

      .hero-image {
        background-color: var(--text-header);
        border-radius: var(--radius-md);
        padding: 1.5rem;
        position: relative;

        img {
          border-radius: var(--radius-md);
          object-fit: cover;
          object-position: center;
        }

        .iconCup {
          background-color: var(--clr-accent-gold);
          border-radius: 500vw;
          color: var(--bg-header);
          height: 4rem;
          padding: 0.5rem;
          width: 4rem;
          position: absolute;
          top: -1.5rem;
          right: -1.5rem;

          svg {
           text-align: center
          }
        }
      }

    }
  }
</style>
