---
// Components
import Card from "../../components/ui/card.astro";
import CardGrid from "../../components/ui/cardGrid.astro";
import SectionTitle from "../../components/section-title.astro";
import ListItemCheckIcon from "../../components/ui/listItemCheckIcon.astro";

const sectionTitle = "Built on three pillars of daily discipline";
const sectionSubtitle =
  " Transform your entrepeneurial journey with a structured approach to productivity, energy management, and personal growth";
---

<section id="pilars-section">
  <div class="wrapper section-wrapper">
    <SectionTitle
      sectionTitle={sectionTitle}
      sectionSubtitle={sectionSubtitle}
    />

    <CardGrid>
      <Card>
        <!-- icon -->
        <div></div>

        <h3>Mission</h3>

        <p>
          Set clear goals an focus on what matters most. Define your daily
          mission with precision
        </p>

        <ul>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
        </ul>
      </Card>

      <Card>
        <!-- icon -->
        <div></div>

        <h3>Mission</h3>

        <p>
          Set clear goals an focus on what matters most. Define your daily
          mission with precision
        </p>

        <ul>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
        </ul>
      </Card>

      <Card>
        <!-- icon -->
        <div></div>

        <h3>Mission</h3>

        <p>
          Set clear goals an focus on what matters most. Define your daily
          mission with precision
        </p>

        <ul>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
          <ListItemCheckIcon>Daily goal setting</ListItemCheckIcon>
        </ul>
      </Card>
    </CardGrid>
  </div>
</section>

<style>
  #pilars-section {
    background-color: var(--clr-neutral-100);

    .section-wrapper {
      display: grid;
      gap: var(--space-lg);
    }
  }
</style>
