---
const { sectionTitle, sectionSubtitle} = Astro.props
---

<div class="section-title">
  <h2>{sectionTitle}</h2>
  <p>{sectionSubtitle}</p>
</div>

<style>
  .section-title {
    text-align: center;
    margin-inline: auto;
    max-width: 65ch;

    h2 {
      margin-block-end: var(--space-sm);
    }
  }
</style>
