---
// Props
const { btnType = "btn", btnStyle = "", btnId = "" } = Astro.props;
---

<button class={`btn ${btnStyle}`} id={btnId} type={btnType}><slot /></button>

<style>
  .btn {
    border-radius: var(--radius-md);
    border: solid 2px transparent;
    box-shadow: var(--shadow-sm);
    cursor: pointer;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    padding-block: var(--space-sm);
    padding-inline: var(--space-md);
    transition: var(--transition-fast);

    &:hover {
      box-shadow: var(--shadow-md);
      transform: translateY(-3px);
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .open-dark-bg {
    background-color: transparent;
    color: var(--text-header);
    font-weight: var(--fw-regular);
  }

  .primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }

  .primary-open {
    background-color: transparent;
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-bg);
  }
</style>
