---

---

<div class="card-grid">
    <slot/>
</div>

<style>
  .card-grid {
    display: grid;
    gap: var(--space-sm);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
</style>
