---
// Components
import Button from "./button.astro";

// Props
const {} = Astro.props;
---

<nav>
  <div class="nav-menu wrapper">
    <span id="logo">Mission Focus</span>

    <ul role="list">
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Reviews</a></li>
    </ul>

    <div>
      <select name="lang" id="lang">
        <option value="eng">Eng</option>
        <option value="nl">NL</option>
        <option value="de">DE</option>
      </select>
      <Button>Sign in</Button>
      <Button>Start Free Trail</Button>
    </div>
  </div>
</nav>

<style>
  nav {
    background-color: var(--bg-header);
    color: var(--text-header);
    padding-block: var(--space-md);

    #logo {
      color: var(--clr-accent-gold);
      font-family: var(--font-heading);
      font-size: var(--fs-h2);
    }

    .nav-menu {
      align-items: center;
      display: flex;
      justify-content: space-between;

      ul {
        display: flex;
        gap: var(--space-sm);

        li {
          padding: var(--space-sm) var(--space-md);
          transition: var(--transition-fast);
          border-bottom: 2px solid transparent;
          border-radius: var(--radius-sm);

          a {
            text-decoration: none;
          }
          &:hover {
            border-bottom: var(--focus-outline);
            box-shadow: var(--focus-shadow);
          }
        }
      }
    }
  }
</style>
